<html>
  <head>
     <title>
         {% if title %}
            {{ title }} - microblog
         {% else %}
            Microblog
         {% endif %}
     </title>
  </head>
  <body>
    <div>Microblog: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
